.gly-spin {
  -webkit-animation: spin 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-animation: spin 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-animation: spin 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: spin 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}